---
layout: default
with-nav: false
---

<div class="h-card">
    {% include nav.html %}
    <p class="p-note">Hi, my name is <span class="p-name">Tom Oostveen</span>. I am a prospect student Computing Science at the University of <span class="p-locality">Groningen</span>, <span class="p-country-name">Netherlands</span> 🇳🇱.</p>

    <p>This is just a quick landing page, don't expect much of it :-)</p>

    <p>You can find me elsewhere through the links above, most notably I go by <code>@<span class="p-nickname">dtomvan</span></code> often.</p>
</div>

<p>For now, this holds a <a href="/blog/blogroll">blogroll</a>.</p>

<hr/>

<h4>Recent posts</h4>

{% for post in site.posts limit:3 %}
{% unless post.hidden %}
{% include post_preview.html %}
{% endunless %}
{% endfor %}

<p>See the full <a href="/blog">blog archive</a> or subscribe to the <a href="/feed.xml">feed</a>.</p>

<hr/>

<p>Now, let's do the 88x31 buttons thing because I'm so quirky and whimsical (credits to <a href="https://poz.pet"><b>poz</b></a> for most of these):</p>
<section>
    <header class="quirky-buttons" style="display:flex;">
        <div style="flex:1;"><a href="https://nixos.org"><img loading="lazy" src="/assets/img/powered-by-nixos.gif" /></a></div>
        <div style="flex:1;"><a title="I use nixvim BTW" href="https://git.toostveen.nl/tom/puntbestanden/src/${REV}/modules/editors/neovim"><img loading="lazy" src="/assets/img/made-with-neovim.gif" /></a></div>
        <div style="flex:1;"><a href="https://forgejo.org"><img loading="lazy" src="/assets/img/forgejo.gif" /></a></div>
        <div style="flex:1;"><a href="https://firefox.com"><img loading="lazy" src="/assets/img/firefox4.gif" /></a></div>
    </header>
</section>
