// We run both DMS and noctalia-shell, so I can reuse the same config across
// both profiles. They are marked as mutually exclusive through an assertion,
// so this should go well.
spawn-at-startup "dms" "run"
spawn-at-startup "noctalia-shell"
spawn-at-startup "cclipd" "-s" "2" "-t" "image/png" "-t" "image/*" "-t" "text/plain;charset=utf-8" "-t" "text/*" "-t" "*"
