// https://yalter.github.io/niri/Configuration

include "autostart.kdl"
include "binds.kdl"
include "colors.kdl"
include "input.kdl"
include "layout.kdl"
include "misc.kdl"
include "screensharing.kdl"
include "noctalia-etc.kdl"

output "PNP(AOC) 2590G5 0x0002048E" {
    mode "1920x1080@74.973"

    hot-corners {
        top-left
    }

    layout { }
}


include "noctalia.kdl"
