input {
    keyboard {
        xkb {
            options "compose:ralt"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

     warp-mouse-to-focus

     focus-follows-mouse max-scroll-amount="20%"
}

