// From wiki
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

binds {
    Mod+S { set-dynamic-cast-window; }
    Mod+Alt+S { set-dynamic-cast-monitor; }
    Mod+Shift+S { clear-dynamic-cast-target; }
}
