---
layout: default
title: Tags
---

<script>
  // quick and dirty script that will open up a tag listing if a user navigated to it directly
  addEventListener("DOMContentLoaded", () => {
    document.body
      .querySelectorAll("details:has(summary.tag-header)")
      .forEach((n) =>
        n.querySelector("a").addEventListener("focus", () => n.setAttribute("open", true)),
      );

    if (location.hash != "") {
      document.body.querySelector(`details:has(${location.hash})`).setAttribute("open", true);
    }
  });
</script>

{% for tag in site.tags | keys | sort_natural %}
<details>
  <summary class="tag-header">
    <a href="#{{tag}}" class="title" id="{{tag}}">#{{tag}}</a>
    <span class="tag-post-amount">[{{site.tags[tag] | size}}]</span>
  </summary>

  {% for post in site.tags[tag] %} {% include post_preview.html %} {% endfor %}
</details>
{% endfor %}
