---
layout: base
---
{% include nav.html %}

<div class="layout-{{ page.layout }}">
    {% if page.title %}<h2>{{page.title}}</h2>{% endif %}
    {{ content }}
    <br/>
</div>
<p class="footer center-block">
{% if "@with_nix_webring@" != "0" %}
    <a href="https://nixwebr.ing/prev/dtomvan">prev</a>
    |
    <a href="https://nixwebr.ing/">
        <img height=22
             alt="nix webring"
             title="nix webring"
             style="vertical-align: middle;"
             src="/assets/img/nix-webring.svg" />
    </a>
    |
    <a href="https://nixwebr.ing/next/dtomvan">next</a>
    <br/>
    <a href="https://nixwebr.ing/rand">I'm feeling lucky</a>
    <br />
{% endif %}
{% include footer-common.html %}
</p>
