:root {
  --ctp-rosewater: #f5e0dc;
  --ctp-rosewater-rgb: 245 224 220;
  --ctp-rosewater-hsl: 9.600 55.556% 91.176%;
  --ctp-rosewater-oklch: 0.9226 0.0238 30.4919;
  --ctp-flamingo: #f2cdcd;
  --ctp-flamingo-rgb: 242 205 205;
  --ctp-flamingo-hsl: 0.000 58.730% 87.647%;
  --ctp-flamingo-oklch: 0.8797 0.0418 17.9750;
  --ctp-pink: #f5c2e7;
  --ctp-pink-rgb: 245 194 231;
  --ctp-pink-hsl: 316.471 71.831% 86.078%;
  --ctp-pink-oklch: 0.8700 0.0752 336.3041;
  --ctp-mauve: #cba6f7;
  --ctp-mauve-rgb: 203 166 247;
  --ctp-mauve-hsl: 267.407 83.505% 80.980%;
  --ctp-mauve-oklch: 0.7871 0.1187 304.7693;
  --ctp-red: #f38ba8;
  --ctp-red-rgb: 243 139 168;
  --ctp-red-hsl: 343.269 81.250% 74.902%;
  --ctp-red-oklch: 0.7556 0.1297 2.7642;
  --ctp-maroon: #eba0ac;
  --ctp-maroon-rgb: 235 160 172;
  --ctp-maroon-hsl: 350.400 65.217% 77.451%;
  --ctp-maroon-oklch: 0.7821 0.0903 8.8482;
  --ctp-peach: #fab387;
  --ctp-peach-rgb: 250 179 135;
  --ctp-peach-hsl: 22.957 92.000% 75.490%;
  --ctp-peach-oklch: 0.8237 0.1015 52.6294;
  --ctp-yellow: #f9e2af;
  --ctp-yellow-rgb: 249 226 175;
  --ctp-yellow-hsl: 41.351 86.047% 83.137%;
  --ctp-yellow-oklch: 0.9193 0.0704 86.5281;
  --ctp-green: #a6e3a1;
  --ctp-green-rgb: 166 227 161;
  --ctp-green-hsl: 115.455 54.098% 76.078%;
  --ctp-green-oklch: 0.8577 0.1092 142.7153;
  --ctp-teal: #94e2d5;
  --ctp-teal-rgb: 148 226 213;
  --ctp-teal-hsl: 170.000 57.353% 73.333%;
  --ctp-teal-oklch: 0.8585 0.0792 182.7495;
  --ctp-sky: #89dceb;
  --ctp-sky-rgb: 137 220 235;
  --ctp-sky-hsl: 189.184 71.014% 72.941%;
  --ctp-sky-oklch: 0.8467 0.0833 210.2545;
  --ctp-sapphire: #74c7ec;
  --ctp-sapphire-rgb: 116 199 236;
  --ctp-sapphire-hsl: 198.500 75.949% 69.020%;
  --ctp-sapphire-oklch: 0.7906 0.0965 228.6527;
  --ctp-blue: #89b4fa;
  --ctp-blue-rgb: 137 180 250;
  --ctp-blue-hsl: 217.168 91.870% 75.882%;
  --ctp-blue-oklch: 0.7664 0.1113 259.8850;
  --ctp-lavender: #b4befe;
  --ctp-lavender-rgb: 180 190 254;
  --ctp-lavender-hsl: 231.892 97.368% 85.098%;
  --ctp-lavender-oklch: 0.8166 0.0910 277.3092;
  --ctp-text: #cdd6f4;
  --ctp-text-rgb: 205 214 244;
  --ctp-text-hsl: 226.154 63.934% 88.039%;
  --ctp-text-oklch: 0.8787 0.0426 272.2767;
  --ctp-subtext1: #bac2de;
  --ctp-subtext1-rgb: 186 194 222;
  --ctp-subtext1-hsl: 226.667 35.294% 80.000%;
  --ctp-subtext1-oklch: 0.8168 0.0403 272.8622;
  --ctp-subtext0: #a6adc8;
  --ctp-subtext0-rgb: 166 173 200;
  --ctp-subtext0-hsl: 227.647 23.611% 71.765%;
  --ctp-subtext0-oklch: 0.7510 0.0396 273.9320;
  --ctp-overlay2: #9399b2;
  --ctp-overlay2-rgb: 147 153 178;
  --ctp-overlay2-hsl: 228.387 16.757% 63.725%;
  --ctp-overlay2-oklch: 0.6865 0.0374 274.7253;
  --ctp-overlay1: #7f849c;
  --ctp-overlay1-rgb: 127 132 156;
  --ctp-overlay1-hsl: 229.655 12.775% 55.490%;
  --ctp-overlay1-oklch: 0.6176 0.0367 276.0047;
  --ctp-overlay0: #6c7086;
  --ctp-overlay0-rgb: 108 112 134;
  --ctp-overlay0-hsl: 230.769 10.744% 47.451%;
  --ctp-overlay0-oklch: 0.5497 0.0345 277.0951;
  --ctp-surface2: #585b70;
  --ctp-surface2-rgb: 88 91 112;
  --ctp-surface2-hsl: 232.500 12.000% 39.216%;
  --ctp-surface2-oklch: 0.4765 0.0340 278.6430;
  --ctp-surface1: #45475a;
  --ctp-surface1-rgb: 69 71 90;
  --ctp-surface1-hsl: 234.286 13.208% 31.176%;
  --ctp-surface1-oklch: 0.4037 0.0320 280.1520;
  --ctp-surface0: #313244;
  --ctp-surface0-rgb: 49 50 68;
  --ctp-surface0-hsl: 236.842 16.239% 22.941%;
  --ctp-surface0-oklch: 0.3240 0.0319 281.9784;
  --ctp-base: #1e1e2e;
  --ctp-base-rgb: 30 30 46;
  --ctp-base-hsl: 240.000 21.053% 14.902%;
  --ctp-base-oklch: 0.2429 0.0304 283.9110;
  --ctp-mantle: #181825;
  --ctp-mantle-rgb: 24 24 37;
  --ctp-mantle-hsl: 240.000 21.311% 11.961%;
  --ctp-mantle-oklch: 0.2155 0.0254 284.0647;
  --ctp-crust: #11111b;
  --ctp-crust-rgb: 17 17 27;
  --ctp-crust-hsl: 240.000 22.727% 8.627%;
  --ctp-crust-oklch: 0.1828 0.0204 284.2038;
}
