html {
    color-scheme: light dark;
    overflow-y: scroll;
}

body {
    max-width: 38em;
    margin: 0 auto;
    padding: 0 1rem;
    width: auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;

    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    /* https://stackoverflow.com/a/38347131/993769 */
    text-size-adjust: none;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.footer {
    padding: 2rem 0 1rem;
    margin-top: auto;
}

@media screen and (max-width: 480px) {
    .hidden-mobile {
        display: none!important;
    }
}

@media screen and (min-width: 481px) {
    .hidden-desktop {
        display: none!important;
    }
}

nav {
    margin: 1rem 0;
    line-height: 1.8;
    border-bottom: 1px solid;
    display: flex;
}
.nav-right {
    margin-left: auto;
}
nav a:not(:last-child) {
    margin-right: 1rem
}
nav a:hover {
    text-decoration: none;
}

.layout-post li p {
    margin: 0 0 0.5rem 0;
}

li:not(:last-child) {
    padding-bottom: .75rem;
}

a, a:visited {
    text-decoration: none;
}

a {
    color: var(--ctp-latte-blue);
}
a:visited {
    color: var(--ctp-latte-mauve);
}
@media (prefers-color-scheme: dark) {
    a {
        color: var(--ctp-mocha-blue);
    }
    a:visited {
        color: var(--ctp-mocha-mauve);
    }
}
a:hover {
    text-decoration: underline
}

a.title {
    color: var(--ctp-latte-text);
    padding-right: .25rem;
}
@media (prefers-color-scheme: dark) {
    a.title {
        color: var(--ctp-mocha-text);
    }
}

.footer, .date, .tags, .tags a {
    color: var(--ctp-latte-overlay0);
}
.footer a {
    color: hsl(from var(--ctp-latte-blue) h calc(s - 40) calc(l - 10));
}
@media (prefers-color-scheme: dark) {
    .footer, .footer a, .date, .tags, .tags a {
        color: var(--ctp-mocha-overlay0);
    }
    .footer a {
        color: hsl(from var(--ctp-mocha-blue) h calc(s - 40) calc(l - 10));
    }
}
.date {
    padding-right: .5rem;
    white-space: nowrap;
}
.tags {
    display: inline-block;
}

article.post {
    display: flex;
    padding-bottom: .5rem;
}

.center-block {
    text-align: center;
}

hr {
    border: 0;
    border-top:1px solid lightgray;
}

/* tweaks for post content style */
.layout-post img {
    max-width: 75%;
    max-height: 400px;
}

img.cover-img {
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: -2rem;
}

.layout-post {
    hyphens: auto;
    text-align: justify;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .03em;
}

.layout-post .title {
    hyphens:none;
}

.layout-post header {
    margin: 3rem 0 5rem;
    text-align: left;
}

.layout-post header.with-cover {
    margin-top: -0.5rem;
}

pre {
    overflow-x: auto;
    padding: 1rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.src pre::-webkit-scrollbar {
    display: none;
}

/* There are several code rendering scenarios that need to be handled reasonably:
- light vs dark preferred color scheme
- pre code blocks vs inline code spans
- language set vs no language set
- markdown vs org rendering

Upstream jorge handles this differently, but I decided to render codeblocks as catppuccin mocha regardless of dark or light theme, as done below.
*/
.layout-post :not(pre) > code {
    padding: .2em .4em;
    color: var(--ctp-latte-text)!important;
    background-color: var(--ctp-latte-base)!important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--ctp-mocha-base)!important;
        color: var(--ctp-mocha-text);
    }
    .src > .highlight > pre, code {
        background-color: var(--ctp-mocha-mantle)!important;
        color: var(--ctp-mocha-text);
    }
}

.layout-post pre, .layout-post code {
    background-color: var(--ctp-latte-base)!important;
    border-radius: 6px;
    font-size: 0.9rem;
    hyphens: none;
    color: var(--ctp-latte-text)!important;
}

blockquote {
    border-left: 2px solid var(--ctp-mocha-overlay2);
    padding-left: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media screen and (max-width: 480px) {
    blockquote {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.layout-post p.verse {
    text-align: right;
}

.layout-post p {
    margin-bottom: 1.5rem;
}

.layout-post p + h2 {
    padding-top: 1.5rem;
}

.layout-post .center-block {
    margin: 2rem 0;
}

/* override in mobile devices for more compact text */
@media screen and (max-width: 768px) {
    .layout-post {
        letter-spacing: unset;
        hyphens: none;
        text-align: left;
    }

    .layout-post p {
        margin: 1rem 0;
    }

    .layout-post p + p {
        text-indent: 0;
    }

    .layout-post img {
        max-width: 100%;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
    td { display: inline-block }
}

td, th {
    padding: .5rem;
}


hr.footnotes-separatator {
    display:none;
}

/* makes footnote number and text display in the same line  */
.footnote-definition {
    display: flex;
    vertical-align: top;
    margin-bottom: .4rem;
}
.footnote-body, .footnote-body p {
    display: inline;
    margin-left: 0.25rem;
}

/* These control the expand/collapse behavior of the tags page */
details summary {
    list-style: none;
    cursor: pointer;
}

details summary h3::after {
    content: "[+]";
    font-size: small;
    font-weight: normal;
    font-family: monospace;
    vertical-align: middle;
}

details[open] summary h3::after {
    content: "[-]"
}

details > summary::-webkit-details-marker {
    display: none;
}

/* https://github.com/catppuccin/palette/blob/main/docs/css.md */
:root {
  --ctp-latte-rosewater: #dc8a78;
  --ctp-latte-rosewater-rgb: 220 138 120;
  --ctp-latte-rosewater-hsl: 10.800 58.824% 66.667%;
  --ctp-latte-rosewater-oklch: 0.7141 0.1045 33.0967;
  --ctp-latte-flamingo: #dd7878;
  --ctp-latte-flamingo-rgb: 221 120 120;
  --ctp-latte-flamingo-hsl: 0.000 59.763% 66.863%;
  --ctp-latte-flamingo-oklch: 0.6856 0.1259 20.8670;
  --ctp-latte-pink: #ea76cb;
  --ctp-latte-pink-rgb: 234 118 203;
  --ctp-latte-pink-hsl: 316.034 73.418% 69.020%;
  --ctp-latte-pink-oklch: 0.7256 0.1739 338.4333;
  --ctp-latte-mauve: #8839ef;
  --ctp-latte-mauve-rgb: 136 57 239;
  --ctp-latte-mauve-hsl: 266.044 85.047% 58.039%;
  --ctp-latte-mauve-oklch: 0.5547 0.2503 297.0156;
  --ctp-latte-red: #d20f39;
  --ctp-latte-red-rgb: 210 15 57;
  --ctp-latte-red-hsl: 347.077 86.667% 44.118%;
  --ctp-latte-red-oklch: 0.5505 0.2155 19.8095;
  --ctp-latte-maroon: #e64553;
  --ctp-latte-maroon-rgb: 230 69 83;
  --ctp-latte-maroon-hsl: 354.783 76.303% 58.627%;
  --ctp-latte-maroon-oklch: 0.6252 0.1967 20.2724;
  --ctp-latte-peach: #fe640b;
  --ctp-latte-peach-rgb: 254 100 11;
  --ctp-latte-peach-hsl: 21.975 99.184% 51.961%;
  --ctp-latte-peach-oklch: 0.6920 0.2041 42.4293;
  --ctp-latte-yellow: #df8e1d;
  --ctp-latte-yellow-rgb: 223 142 29;
  --ctp-latte-yellow-hsl: 34.948 76.984% 49.412%;
  --ctp-latte-yellow-oklch: 0.7140 0.1494 67.7767;
  --ctp-latte-green: #40a02b;
  --ctp-latte-green-rgb: 64 160 43;
  --ctp-latte-green-hsl: 109.231 57.635% 39.804%;
  --ctp-latte-green-oklch: 0.6250 0.1772 140.4448;
  --ctp-latte-teal: #179299;
  --ctp-latte-teal-rgb: 23 146 153;
  --ctp-latte-teal-hsl: 183.231 73.864% 34.510%;
  --ctp-latte-teal-oklch: 0.6023 0.0981 201.1047;
  --ctp-latte-sky: #04a5e5;
  --ctp-latte-sky-rgb: 4 165 229;
  --ctp-latte-sky-hsl: 197.067 96.567% 45.686%;
  --ctp-latte-sky-oklch: 0.6820 0.1448 235.3822;
  --ctp-latte-sapphire: #209fb5;
  --ctp-latte-sapphire-rgb: 32 159 181;
  --ctp-latte-sapphire-hsl: 188.859 69.953% 41.765%;
  --ctp-latte-sapphire-oklch: 0.6477 0.1068 212.8893;
  --ctp-latte-blue: #1e66f5;
  --ctp-latte-blue-rgb: 30 102 245;
  --ctp-latte-blue-hsl: 219.907 91.489% 53.922%;
  --ctp-latte-blue-oklch: 0.5586 0.2255 262.0867;
  --ctp-latte-lavender: #7287fd;
  --ctp-latte-lavender-rgb: 114 135 253;
  --ctp-latte-lavender-hsl: 230.935 97.203% 71.961%;
  --ctp-latte-lavender-oklch: 0.6638 0.1751 273.1346;
  --ctp-latte-text: #4c4f69;
  --ctp-latte-text-rgb: 76 79 105;
  --ctp-latte-text-hsl: 233.793 16.022% 35.490%;
  --ctp-latte-text-oklch: 0.4355 0.0430 279.3250;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-latte-subtext1-rgb: 92 95 119;
  --ctp-latte-subtext1-hsl: 233.333 12.796% 41.373%;
  --ctp-latte-subtext1-oklch: 0.4920 0.0385 279.2992;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-latte-subtext0-rgb: 108 111 133;
  --ctp-latte-subtext0-hsl: 232.800 10.373% 47.255%;
  --ctp-latte-subtext0-oklch: 0.5471 0.0343 279.0837;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-latte-overlay2-rgb: 124 127 147;
  --ctp-latte-overlay2-hsl: 232.174 9.623% 53.137%;
  --ctp-latte-overlay2-oklch: 0.6009 0.0305 278.6944;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-latte-overlay1-rgb: 140 143 161;
  --ctp-latte-overlay1-hsl: 231.429 10.048% 59.020%;
  --ctp-latte-overlay1-oklch: 0.6536 0.0269 278.1208;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-latte-overlay0-rgb: 156 160 176;
  --ctp-latte-overlay0-hsl: 228.000 11.236% 65.098%;
  --ctp-latte-overlay0-oklch: 0.7077 0.0237 274.6008;
  --ctp-latte-surface2: #acb0be;
  --ctp-latte-surface2-rgb: 172 176 190;
  --ctp-latte-surface2-hsl: 226.667 12.162% 70.980%;
  --ctp-latte-surface2-oklch: 0.7584 0.0205 273.1536;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-latte-surface1-rgb: 188 192 204;
  --ctp-latte-surface1-hsl: 225.000 13.559% 76.863%;
  --ctp-latte-surface1-oklch: 0.8083 0.0174 271.1982;
  --ctp-latte-surface0: #ccd0da;
  --ctp-latte-surface0-rgb: 204 208 218;
  --ctp-latte-surface0-hsl: 222.857 15.909% 82.745%;
  --ctp-latte-surface0-oklch: 0.8575 0.0145 268.4756;
  --ctp-latte-base: #eff1f5;
  --ctp-latte-base-rgb: 239 241 245;
  --ctp-latte-base-hsl: 220.000 23.077% 94.902%;
  --ctp-latte-base-oklch: 0.9578 0.0058 264.5322;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-latte-mantle-rgb: 230 233 239;
  --ctp-latte-mantle-hsl: 220.000 21.951% 91.961%;
  --ctp-latte-mantle-oklch: 0.9335 0.0087 264.5206;
  --ctp-latte-crust: #dce0e8;
  --ctp-latte-crust-rgb: 220 224 232;
  --ctp-latte-crust-hsl: 220.000 20.690% 88.627%;
  --ctp-latte-crust-oklch: 0.9060 0.0117 264.5071;

  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-mocha-rosewater-rgb: 245 224 220;
  --ctp-mocha-rosewater-hsl: 9.600 55.556% 91.176%;
  --ctp-mocha-rosewater-oklch: 0.9226 0.0238 30.4919;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-mocha-flamingo-rgb: 242 205 205;
  --ctp-mocha-flamingo-hsl: 0.000 58.730% 87.647%;
  --ctp-mocha-flamingo-oklch: 0.8797 0.0418 17.9750;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-mocha-pink-rgb: 245 194 231;
  --ctp-mocha-pink-hsl: 316.471 71.831% 86.078%;
  --ctp-mocha-pink-oklch: 0.8700 0.0752 336.3041;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-mocha-mauve-rgb: 203 166 247;
  --ctp-mocha-mauve-hsl: 267.407 83.505% 80.980%;
  --ctp-mocha-mauve-oklch: 0.7871 0.1187 304.7693;
  --ctp-mocha-red: #f38ba8;
  --ctp-mocha-red-rgb: 243 139 168;
  --ctp-mocha-red-hsl: 343.269 81.250% 74.902%;
  --ctp-mocha-red-oklch: 0.7556 0.1297 2.7642;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-mocha-maroon-rgb: 235 160 172;
  --ctp-mocha-maroon-hsl: 350.400 65.217% 77.451%;
  --ctp-mocha-maroon-oklch: 0.7821 0.0903 8.8482;
  --ctp-mocha-peach: #fab387;
  --ctp-mocha-peach-rgb: 250 179 135;
  --ctp-mocha-peach-hsl: 22.957 92.000% 75.490%;
  --ctp-mocha-peach-oklch: 0.8237 0.1015 52.6294;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-mocha-yellow-rgb: 249 226 175;
  --ctp-mocha-yellow-hsl: 41.351 86.047% 83.137%;
  --ctp-mocha-yellow-oklch: 0.9193 0.0704 86.5281;
  --ctp-mocha-green: #a6e3a1;
  --ctp-mocha-green-rgb: 166 227 161;
  --ctp-mocha-green-hsl: 115.455 54.098% 76.078%;
  --ctp-mocha-green-oklch: 0.8577 0.1092 142.7153;
  --ctp-mocha-teal: #94e2d5;
  --ctp-mocha-teal-rgb: 148 226 213;
  --ctp-mocha-teal-hsl: 170.000 57.353% 73.333%;
  --ctp-mocha-teal-oklch: 0.8585 0.0792 182.7495;
  --ctp-mocha-sky: #89dceb;
  --ctp-mocha-sky-rgb: 137 220 235;
  --ctp-mocha-sky-hsl: 189.184 71.014% 72.941%;
  --ctp-mocha-sky-oklch: 0.8467 0.0833 210.2545;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-mocha-sapphire-rgb: 116 199 236;
  --ctp-mocha-sapphire-hsl: 198.500 75.949% 69.020%;
  --ctp-mocha-sapphire-oklch: 0.7906 0.0965 228.6527;
  --ctp-mocha-blue: #89b4fa;
  --ctp-mocha-blue-rgb: 137 180 250;
  --ctp-mocha-blue-hsl: 217.168 91.870% 75.882%;
  --ctp-mocha-blue-oklch: 0.7664 0.1113 259.8850;
  --ctp-mocha-lavender: #b4befe;
  --ctp-mocha-lavender-rgb: 180 190 254;
  --ctp-mocha-lavender-hsl: 231.892 97.368% 85.098%;
  --ctp-mocha-lavender-oklch: 0.8166 0.0910 277.3092;
  --ctp-mocha-text: #cdd6f4;
  --ctp-mocha-text-rgb: 205 214 244;
  --ctp-mocha-text-hsl: 226.154 63.934% 88.039%;
  --ctp-mocha-text-oklch: 0.8787 0.0426 272.2767;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-mocha-subtext1-rgb: 186 194 222;
  --ctp-mocha-subtext1-hsl: 226.667 35.294% 80.000%;
  --ctp-mocha-subtext1-oklch: 0.8168 0.0403 272.8622;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-mocha-subtext0-rgb: 166 173 200;
  --ctp-mocha-subtext0-hsl: 227.647 23.611% 71.765%;
  --ctp-mocha-subtext0-oklch: 0.7510 0.0396 273.9320;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-mocha-overlay2-rgb: 147 153 178;
  --ctp-mocha-overlay2-hsl: 228.387 16.757% 63.725%;
  --ctp-mocha-overlay2-oklch: 0.6865 0.0374 274.7253;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-mocha-overlay1-rgb: 127 132 156;
  --ctp-mocha-overlay1-hsl: 229.655 12.775% 55.490%;
  --ctp-mocha-overlay1-oklch: 0.6176 0.0367 276.0047;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-mocha-overlay0-rgb: 108 112 134;
  --ctp-mocha-overlay0-hsl: 230.769 10.744% 47.451%;
  --ctp-mocha-overlay0-oklch: 0.5497 0.0345 277.0951;
  --ctp-mocha-surface2: #585b70;
  --ctp-mocha-surface2-rgb: 88 91 112;
  --ctp-mocha-surface2-hsl: 232.500 12.000% 39.216%;
  --ctp-mocha-surface2-oklch: 0.4765 0.0340 278.6430;
  --ctp-mocha-surface1: #45475a;
  --ctp-mocha-surface1-rgb: 69 71 90;
  --ctp-mocha-surface1-hsl: 234.286 13.208% 31.176%;
  --ctp-mocha-surface1-oklch: 0.4037 0.0320 280.1520;
  --ctp-mocha-surface0: #313244;
  --ctp-mocha-surface0-rgb: 49 50 68;
  --ctp-mocha-surface0-hsl: 236.842 16.239% 22.941%;
  --ctp-mocha-surface0-oklch: 0.3240 0.0319 281.9784;
  --ctp-mocha-base: #1e1e2e;
  --ctp-mocha-base-rgb: 30 30 46;
  --ctp-mocha-base-hsl: 240.000 21.053% 14.902%;
  --ctp-mocha-base-oklch: 0.2429 0.0304 283.9110;
  --ctp-mocha-mantle: #181825;
  --ctp-mocha-mantle-rgb: 24 24 37;
  --ctp-mocha-mantle-hsl: 240.000 21.311% 11.961%;
  --ctp-mocha-mantle-oklch: 0.2155 0.0254 284.0647;
  --ctp-mocha-crust: #11111b;
  --ctp-mocha-crust-rgb: 17 17 27;
  --ctp-mocha-crust-hsl: 240.000 22.727% 8.627%;
  --ctp-mocha-crust-oklch: 0.1828 0.0204 284.2038;
}
