html {
  color-scheme: light dark;
  overflow-y: scroll;
}

body {
  background-color: var(--ctp-base);
  color: var(--ctp-text);
  max-width: 38em;
  margin: 0 auto;
  padding: 0 1rem;
  width: auto;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;

  height: 100vh;
  display: flex;
  flex-direction: column;
}

span.sans-serif {
  font-family: sans-serif !important;
}

span.monospace {
  font-family: monospace !important;
}

body.mono {
  font-family: monospace;
  /* adjust for the fact that monospace fonts look smaller */
  max-width: calc(38em * 1.3);
  font-size-adjust: 0.7;
}

body.mono pre,
body.mono code {
  font-size-adjust: none;
}

button {
  border: none;
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
}

button.mono-toggle {
  top: 0;
}

button.light-dark-toggle {
  top: 4em;
}

button#reset-btn {
  top: 8em;
}

button.toggle {
  font-weight: bold;
  position: absolute;
  right: 0;
  margin: 2em;
}

/* around 930 px, i.e. will only display when comfortably fits NEXT to the main content */
/* TODO: maybe move the buttons to bottom right on mobile? */
@media screen and (max-width: calc(38em + (2em + 120px) * 2)) {
  button.toggle {
    display: none;
  }
}

.content {
  /* https://stackoverflow.com/a/38347131/993769 */
  text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

.footer {
  padding: 2rem 0 1rem;
  margin-top: auto;
}

@media screen and (max-width: 480px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 481px) {
  .hidden-desktop {
    display: none !important;
  }
}

nav {
  margin: 1rem 0;
  line-height: 1.8;
  border-bottom: 1px solid;
  display: flex;
}
.nav-right {
  margin-left: auto;
}
nav a:not(:last-child) {
  margin-right: 1rem;
}
nav a:hover {
  text-decoration: none;
}

.layout-post li p {
  margin: 0 0 0.5rem 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.title {
  color: var(--ctp-text);
  padding-right: 0.25rem;
}

/* This section for external link marking is inspired by brennan.day! */

a[href^="http://"]:not([href*="toostveen.nl"])::after,
a[href^="https://"]:not([href*="toostveen.nl"])::after {
  content: "➚";
  font-size: 0.75em;
  line-height: 1;
}

/* Exceptions to the rule */
a.no-footnote::after,
a.no-external-icon::after,
.quirky-buttons a::after,
#webrings a::after,
a[rel="me"]::after,
a[href*="localhost"]::after,
a[href^="/"]::after {
  content: "" !important;
}

@media print {
  a[href^="http://"]::after,
  a[href^="https://"]::after {
    content: "" !important;
  }
}

.footer a {
  color: hsl(from var(--ctp-blue) h calc(s - 40) calc(l - 10));
}

.date {
  padding-right: 0.5rem;
  white-space: nowrap;
}
.tags {
  display: inline-block;
}

article.post {
  display: flex;
  padding-bottom: 0.5rem;
}

.center-block {
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

/* tweaks for post content style */
.layout-post img {
  max-width: 75%;
  max-height: 400px;
}

img.cover-img {
  width: 100%;
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: -2rem;
}

.layout-post {
  hyphens: auto;
  text-align: justify;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: 0.03em;
}

.layout-post .title {
  hyphens: none;
}

.layout-post header {
  margin: 3rem 0 2rem;
  text-align: left;
}

.layout-post header.with-cover {
  margin-top: -0.5rem;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.src pre::-webkit-scrollbar {
  display: none;
}

/* There are several code rendering scenarios that need to be handled reasonably:
- light vs dark preferred color scheme
- pre code blocks vs inline code spans
- language set vs no language set
- markdown vs org rendering

Upstream jorge handles this differently, but I decided to render codeblocks as catppuccin mocha regardless of dark or light theme, as done below.
*/
.layout-post :not(pre) > code {
  padding: 0.2em 0.4em;
  background-color: var(--ctp-crust) !important;
}

@media (prefers-color-scheme: dark) {
  .src > .highlight > pre,
  code {
    background-color: var(--ctp-crust) !important;
  }
}

.layout-post pre,
.layout-post code {
  background-color: var(--ctp-crust) !important;
  border-radius: 6px;
  font-size: 0.9rem;
  hyphens: none;
}

/* prevent preformatted stuff to be really small compared to the heading itself */
.layout-post h1 pre,
.layout-post h2 pre,
.layout-post h3 pre,
.layout-post h4 pre,
.layout-post h5 pre,
.layout-post h6 pre,
.layout-post h1 code,
.layout-post h2 code,
.layout-post h3 code,
.layout-post h4 code,
.layout-post h5 code,
.layout-post h6 code {
  font-size: unset;
}

blockquote {
  border-left: 2px solid var(--ctp-overlay2);
  padding-left: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media screen and (max-width: 480px) {
  blockquote {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.layout-post p.verse {
  text-align: right;
}

.layout-post p {
  margin-bottom: 1.5rem;
}

.layout-post p + h2 {
  padding-top: 1.5rem;
}

.layout-post .center-block {
  margin: 2rem 0;
}

/* override in mobile devices for more compact text */
@media screen and (max-width: 768px) {
  .layout-post {
    letter-spacing: unset;
    hyphens: none;
    text-align: left;
  }

  .layout-post p {
    margin: 1rem 0;
  }

  .layout-post p + p {
    text-indent: 0;
  }

  .layout-post img {
    max-width: 100%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 480px) {
  td {
    display: inline-block;
  }
}

td,
th {
  padding: 0.5rem;
}

hr.footnotes-separatator {
  display: none;
}

/* makes footnote number and text display in the same line  */
.footnote-definition {
  display: flex;
  vertical-align: top;
  margin-bottom: 0.4rem;
}
.footnote-body,
.footnote-body p {
  display: inline;
  margin-left: 0.25rem;
}

/* These control the expand/collapse behavior of the tags page */
details summary {
  cursor: pointer;
}

details summary.tag-header {
  font-size: large;
  font-weight: bold;
}

details summary.tag-header > span.tag-post-amount {
  font-size: small;
  font-weight: regular;
}

section header.quirky-buttons img,
button {
  transition: 0.1s;
}

section header.quirky-buttons img:hover,
button:hover {
  transform: scale(1.2);
}

img.octicon {
  vertical-align: middle;
  height: 16px;
}

a.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
}

a.skip:focus {
  position: static;
  width: auto;
  height: auto;
  flex-shrink: 0;
}

span.subtitle {
  /* h3 without actually being a structural h3, cause that makes no sense */
  font-size: larger;
}

span.warning-text {
  color: var(--ctp-yellow);
  font-weight: bold;
}

#webrings-intro,
#webrings-intro > span {
  text-decoration: underline;
}

#webrings-intro > span {
  display: inline-block;
  transition: opacity 1s ease-out;
  opacity: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
}

#webrings-intro:hover > span {
  opacity: 1;
  width: auto;
}

@media screen {
  li:not(:last-child) {
    padding-bottom: 0.75rem;
  }

  .printOnly {
    display: none;
  }
}

/* https://petermolnar.net/article/how-to-make-a-print-css/ */
@media print {
  * {
    background-color: #fff !important;
    color: #222;
    font-size: 11pt !important;
    font-family: Helvetica, sans-serif !important;
    font-size-adjust: none !important;
  }

  @page {
    margin: 0.5in;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid !important;
  }

  p,
  li,
  blockquote,
  figure,
  img {
    page-break-inside: avoid !important;
  }

  button.toggle,
  form.tyck-comment-form,
  .print-hide,
  #webrings,
  #webrings > br,
  footer.social-footer {
    display: none !important;
  }

  #webrings {
    width: 0;
    height: 0 !important;
    margin: 0 !important;
  }

  a,
  a:visited {
    color: #0000ff !important;
  }

  img.octicon {
    color: unset !important;
    filter: unset !important;
  }

  a:link:after,
  a:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  html.noted a:link:after,
  html.noted a:visited:after {
    content: "";
  }

  nav {
    border-bottom: none;
  }
}

/* Background */
.bg {
  color: var(--ctp-text);
  background-color: var(--ctp-base);
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* PreWrapper */
.chroma {
  color: var(--ctp-text);
  background-color: var(--ctp-base);
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
/* Other */
.chroma .x {
}
/* Error */
.chroma .err {
  color: var(--ctp-red);
}
/* CodeLine */
.chroma .cl {
}
/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}
/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
/* LineHighlight */
.chroma .hl {
  background-color: var(--ctp-surface1);
}
/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--ctp-overlay1);
}
/* LineNumbers */
.chroma .ln {
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: var(--ctp-overlay1);
}
/* Line */
.chroma .line {
  display: flex;
}
/* Keyword */
.chroma .k {
  color: var(--ctp-mauve);
}
/* KeywordConstant */
.chroma .kc {
  color: var(--ctp-peach);
}
/* KeywordDeclaration */
.chroma .kd {
  color: var(--ctp-red);
}
/* KeywordNamespace */
.chroma .kn {
  color: var(--ctp-teal);
}
/* KeywordPseudo */
.chroma .kp {
  color: var(--ctp-mauve);
}
/* KeywordReserved */
.chroma .kr {
  color: var(--ctp-mauve);
}
/* KeywordType */
.chroma .kt {
  color: var(--ctp-red);
}
/* Name */
.chroma .n {
}
/* NameAttribute */
.chroma .na {
  color: var(--ctp-blue);
}
/* NameBuiltin */
.chroma .nb {
  color: var(--ctp-sky);
}
/* NameBuiltinPseudo */
.chroma .bp {
  color: var(--ctp-sky);
}
/* NameClass */
.chroma .nc {
  color: var(--ctp-yellow);
}
/* NameConstant */
.chroma .no {
  color: var(--ctp-yellow);
}
/* NameDecorator */
.chroma .nd {
  color: var(--ctp-blue);
  font-weight: bold;
}
/* NameEntity */
.chroma .ni {
  color: var(--ctp-teal);
}
/* NameException */
.chroma .ne {
  color: var(--ctp-peach);
}
/* NameFunction */
.chroma .nf {
  color: var(--ctp-blue);
}
/* NameFunctionMagic */
.chroma .fm {
  color: var(--ctp-blue);
}
/* NameLabel */
.chroma .nl {
  color: var(--ctp-sky);
}
/* NameNamespace */
.chroma .nn {
  color: var(--ctp-peach);
}
/* NameOther */
.chroma .nx {
}
/* NameProperty */
.chroma .py {
  color: var(--ctp-peach);
}
/* NameTag */
.chroma .nt {
  color: var(--ctp-mauve);
}
/* NameVariable */
.chroma .nv {
  color: var(--ctp-rosewater);
}
/* NameVariableClass */
.chroma .vc {
  color: var(--ctp-rosewater);
}
/* NameVariableGlobal */
.chroma .vg {
  color: var(--ctp-rosewater);
}
/* NameVariableInstance */
.chroma .vi {
  color: var(--ctp-rosewater);
}
/* NameVariableMagic */
.chroma .vm {
  color: var(--ctp-rosewater);
}
/* Literal */
.chroma .l {
}
/* LiteralDate */
.chroma .ld {
}
/* LiteralString */
.chroma .s {
  color: var(--ctp-green);
}
/* LiteralStringAffix */
.chroma .sa {
  color: var(--ctp-red);
}
/* LiteralStringBacktick */
.chroma .sb {
  color: var(--ctp-green);
}
/* LiteralStringChar */
.chroma .sc {
  color: var(--ctp-green);
}
/* LiteralStringDelimiter */
.chroma .dl {
  color: var(--ctp-blue);
}
/* LiteralStringDoc */
.chroma .sd {
  color: var(--ctp-overlay0);
}
/* LiteralStringDouble */
.chroma .s2 {
  color: var(--ctp-green);
}
/* LiteralStringEscape */
.chroma .se {
  color: var(--ctp-blue);
}
/* LiteralStringHeredoc */
.chroma .sh {
  color: var(--ctp-overlay0);
}
/* LiteralStringInterpol */
.chroma .si {
  color: var(--ctp-green);
}
/* LiteralStringOther */
.chroma .sx {
  color: var(--ctp-green);
}
/* LiteralStringRegex */
.chroma .sr {
  color: var(--ctp-teal);
}
/* LiteralStringSingle */
.chroma .s1 {
  color: var(--ctp-green);
}
/* LiteralStringSymbol */
.chroma .ss {
  color: var(--ctp-green);
}
/* LiteralNumber */
.chroma .m {
  color: var(--ctp-peach);
}
/* LiteralNumberBin */
.chroma .mb {
  color: var(--ctp-peach);
}
/* LiteralNumberFloat */
.chroma .mf {
  color: var(--ctp-peach);
}
/* LiteralNumberHex */
.chroma .mh {
  color: var(--ctp-peach);
}
/* LiteralNumberInteger */
.chroma .mi {
  color: var(--ctp-peach);
}
/* LiteralNumberIntegerLong */
.chroma .il {
  color: var(--ctp-peach);
}
/* LiteralNumberOct */
.chroma .mo {
  color: var(--ctp-peach);
}
/* Operator */
.chroma .o {
  color: var(--ctp-sky);
  font-weight: bold;
}
/* OperatorWord */
.chroma .ow {
  color: var(--ctp-sky);
  font-weight: bold;
}
/* Punctuation */
.chroma .p {
}
/* Comment */
.chroma .c {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentHashbang */
.chroma .ch {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentMultiline */
.chroma .cm {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentSingle */
.chroma .c1 {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentSpecial */
.chroma .cs {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentPreproc */
.chroma .cp {
  color: var(--ctp-overlay0);
  font-style: italic;
}
/* CommentPreprocFile */
.chroma .cpf {
  color: var(--ctp-overlay0);
  font-weight: bold;
  font-style: italic;
}
/* Generic */
.chroma .g {
}
/* GenericDeleted */
.chroma .gd {
  color: var(--ctp-red);
  background-color: var(--ctp-surface0);
}
/* GenericEmph */
.chroma .ge {
  font-style: italic;
}
/* GenericError */
.chroma .gr {
  color: var(--ctp-red);
}
/* GenericHeading */
.chroma .gh {
  color: var(--ctp-peach);
  font-weight: bold;
}
/* GenericInserted */
.chroma .gi {
  color: var(--ctp-green);
  background-color: var(--ctp-surface0);
}
/* GenericOutput */
.chroma .go {
}
/* GenericPrompt */
.chroma .gp {
}
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}
/* GenericSubheading */
.chroma .gu {
  color: var(--ctp-peach);
  font-weight: bold;
}
/* GenericTraceback */
.chroma .gt {
  color: var(--ctp-red);
}
/* GenericUnderline */
.chroma .gl {
  text-decoration: underline;
}
/* TextWhitespace */
.chroma .w {
}
